@charset "utf-8";
#footer {
  background: rgba(247,247,247,0) none repeat center top;
  border-top: 1px 0 transparent;
}
.old-ie #footer {
  background: #1B1B1B none repeat center top;
}
.bit-html #footer {
  min-height: 150px;
}
#header .navigation-holder {
  margin: 0;
}
#main-nav.bit-menu-default {
  padding: inherit-self-auto;
  border-radius: inherit-self-auto;
  border: inherit-self-auto;
  background: inherit-self-auto;
  margin: inherit-self-auto;
}
#main-nav.bit-menu-default > li {
  padding: inherit-self-auto;
  background: inherit-self-auto;
  margin: inherit-self-auto;
  border-left: inherit-self-auto;
  box-shadow: none;
  float: inherit-self-auto;
}
#main-nav.bit-menu-default > li > a {
  border-left: inherit-self-auto;
  border-radius: inherit-self-auto;
  color: #ffffff;
  line-height: inherit-self-auto;
  padding: 2px 0 3px 0;
}
#main-nav.bit-menu-default > li.first {
  border-left: inherit-self-auto;
  box-shadow: none;
}
#main-nav.bit-menu-default > li:hover,
#main-nav.bit-menu-default > li.act {
  background: inherit-self-auto;
}
#main-nav.bit-menu-default > li > a:hover,
#main-nav.bit-menu-default > li.dt-hovered > a,
#main-nav.bit-menu-default > li.act > a,
#main-nav.bit-menu-default > li:hover > a {
  border-radius: inherit-self-auto;
  border: inherit-self-auto;
  color: #ffffff;
  border-width: inherit-self-auto;
  border-color: inherit-self-auto;
  text-shadow: inherit-self-auto #ffffff;
}
#main-nav.bit-menu-default > li > a {
  border-radius: inherit-self-auto;
  border: inherit-self-auto;
  border-width: inherit-self-auto;
  border-color: transparent;
}
.bit-menu-default .dt-mega-menu .sub-nav li.act > a,
.bit-menu-default .dt-mega-menu .sub-nav li:hover > a {
  color: #f7f7f7;
}
#main-nav.bit-menu-default > li:hover > a span {
  color: #ffffff;
}
#main-nav.bit-menu-default .sub-nav li {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
.old-ie #main-nav.bit-menu-default .sub-nav li {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
#main-nav .sub-nav li a {
  padding: 6px 0 7px 0;
  padding-left: 12px;
}
#phantom #main-nav .sub-nav li a {
  padding: 6px 0 7px 0;
  padding-left: 12px;
}
.bit-menu-default .dt-mega-menu .sub-nav > li > a,
.bit-menu-default .sub-nav > li > a,
.bit-menu-default .dt-mega-menu .sub-nav .dt-mega-parent .sub-nav a {
  color: #e8e8e8;
}
.bit-menu-default .dt-mega-menu .sub-nav > li.act > a,
.bit-menu-default .dt-mega-menu .sub-nav > li:hover > a,
.bit-menu-default .sub-nav > li.act > a,
.bit-menu-default .sub-nav > li:hover > a {
  color: #f7f7f7;
}
#main-nav.bit-menu-default > li.has-children.level-arrows-on > a:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%229px%22%20height=%226px%22%20viewBox=%220%200%209%206%22%20enable-background=%22new%200%200%209%206%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23ffffff%22%20points=%228.205,1.669%204.515,5.516%200.824,1.703%201.846,0.669%204.515,3.344%207.189,0.669%20%22/%3E%3C/svg%3E");
}
#main-nav.bit-menu-default > li.has-children.level-arrows-on:hover > a:after,
#main-nav.bit-menu-default > li.has-children.act.level-arrows-on > a:after,
#main-nav.bit-menu-default > li.has-children.act.level-arrows-on:hover > a:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%229px%22%20height=%226px%22%20viewBox=%220%200%209%206%22%20enable-background=%22new%200%200%209%206%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23ffffff%22%20points=%228.205,1.669%204.515,5.516%200.824,1.703%201.846,0.669%204.515,3.344%207.189,0.669%20%22/%3E%3C/svg%3E");
}
#main-nav.bit-menu-default .sub-nav li.has-children.level-arrows-on:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23e8e8e8%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");
}
#main-nav.bit-menu-default .sub-nav li.has-children.level-arrows-on:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23f7f7f7%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");
}
#main-nav.bit-menu-default > li.has-children.level-arrows-on {
  padding: ;
}
#main-nav.bit-menu-default > li.has-children.level-arrows-on > a {
  position: relative;
  padding: 2px 12px 3px 0;
}
.bit-menu-default.mini-search .submit {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Cpath%20fill=%22#ffffff%22%20d=%22M15.491,14.071L10.887,9.53c0.727-0.989,1.223-2.206,1.223-3.524C12.109,2.693,9.395,0,6.055,0S0,2.693,0,6.006c0,3.312,2.716,6.008,6.055,6.008c1.266,0,2.567-0.516,3.539-1.178l4.562,4.556%09L15.491,14.071z%20M1.632,5.996c0-2.429,1.975-4.403,4.403-4.403c2.429,0,4.402,1.975,4.402,4.403c0,2.428-1.974,4.402-4.402,4.402C3.607,10.396,1.632,8.423,1.632,5.996z%22/%3E%3C/svg%3E");
}
.bit-menu-default.mini-search .submit:hover {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Cpath%20fill=%22#ffffff%22%20d=%22M15.491,14.071L10.887,9.53c0.727-0.989,1.223-2.206,1.223-3.524C12.109,2.693,9.395,0,6.055,0S0,2.693,0,6.006c0,3.312,2.716,6.008,6.055,6.008c1.266,0,2.567-0.516,3.539-1.178l4.562,4.556%09L15.491,14.071z%20M1.632,5.996c0-2.429,1.975-4.403,4.403-4.403c2.429,0,4.402,1.975,4.402,4.403c0,2.428-1.974,4.402-4.402,4.402C3.607,10.396,1.632,8.423,1.632,5.996z%22/%3E%3C/svg%3E");
}
#header  #main-nav.menu-frame-on.bit-menu-default > li > a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
}
#header  #main-nav.menu-frame-on.bit-menu-default > li.act {
  background-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#header  #main-nav.menu-frame-on.bit-menu-default > li.act > a {
  color: #ffffff;
  border: 1px solid transparent;
  background: transparent;
  background: -moz-linear-gradient(top,rgba(0,0,0,0),transparent);
  background: -webkit-gradient(linear,left top,left bottom,rgba(0,0,0,0),transparent);
  background: -webkit-linear-gradient(top,rgba(0,0,0,0),transparent);
  background: -o-linear-gradient(top,rgba(0,0,0,0),transparent);
  background: -ms-linear-gradient(top,rgba(0,0,0,0),transparent);
  background: linear-gradient(to bottom,rgba(0,0,0,0),transparent);
}
#header  #main-nav.menu-frame-on.bit-menu-default > li.act >a >span {
  color: #ffffff;
}
#header  #main-nav.menu-frame-on.bit-menu-default > li:hover > a {
  border: 1px solid transparent;
  background: transparent;
  background: -moz-linear-gradient(top,rgba(0,0,0,0),transparent);
  background: -webkit-gradient(linear,left top,left bottom,rgba(0,0,0,0),transparent);
  background: -webkit-linear-gradient(top,rgba(0,0,0,0),transparent);
  background: -o-linear-gradient(top,rgba(0,0,0,0),transparent);
  background: -ms-linear-gradient(top,rgba(0,0,0,0),transparent);
  background: linear-gradient(to bottom,rgba(0,0,0,0),transparent);
}
#header  #main-nav.bit-menu-default > li > a i.underline {
  background-color: #ffffff;
}
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.menu-frame-on.bit-menu-float > li.act {
  background-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.menu-frame-on.bit-menu-float > li > a {
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.menu-frame-on.bit-menu-float > li > a > span {
  color: #ffffff;
}
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.menu-frame-on.bit-menu-float > li > a:hover > span {
  color: #ffffff;
}
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.menu-frame-on.bit-menu-float > li:hover > a {
  border: 1px solid #ffffff;
}
#main-nav.bit-menu-float {
  padding: inherit-self-auto;
  border-radius: inherit-self-auto;
  border: inherit-self-auto;
  background-color: inherit-self-auto;
  background: inherit-self-auto;
  margin: inherit-self-auto;
}
#main-nav.bit-menu-float > li {
  padding: inherit-self-auto;
  background: inherit-self-auto;
  border-left: inherit-self-auto;
  box-shadow: none;
}
#main-nav.bit-menu-float > li > a {
  border-left: inherit-self-auto;
  border-radius: inherit-self-auto;
  color: #ffffff;
  padding: 6px 5px 7px 5px;
  line-height: inherit-self-auto;
}
#main-nav.bit-menu-float > li.first {
  border-left: inherit-self-auto;
  box-shadow: none;
}
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.bit-menu-float > li.act > a,
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.bit-menu-float > li > a:hover {
  border-width: inherit-self-auto;
  border: inherit-self-auto;
  border-radius: inherit-self-auto;
  color: #ffffff;
}
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.bit-menu-float > li.act > a i.underline,
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.bit-menu-float > li > a:hover i.underline {
  background-color: #ffffff;
}
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.bit-menu-float > li > a {
  line-height: inherit-self-auto;
  border-width: inherit-self-auto;
  border-color: transparent;
}
#main-nav.bit-menu-float > li.first {
  border-left: inherit-self-auto;
}
#main-nav.bit-menu-float > li > a:hover,
#main-nav.bit-menu-float > li.dt-hovered > a,
#main-nav.bit-menu-float > li.act > a,
#phantom #main-nav.bit-menu-float > li:hover > a,
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.bit-menu-float > li > a:hover,
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.bit-menu-float > li.act > a,
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.bit-menu-float > li.dt-hovered > a,
#phantom .ph-wrap.with-logo .ph-wrap-content .menu-box #main-nav.bit-menu-float > li > a:hover {
  border: inherit-self-auto;
  color: #ffffff;
  border-width: inherit-self-auto;
  border-color: inherit-self-auto;
}
#main-nav.bit-menu-float > li.act > a,
#main-nav.bit-menu-float > li:hover > a {
  color: #ffffff;
}
.bit-menu-float .dt-mega-menu .sub-nav li.act > a,
.bit-menu-float .dt-mega-menu .sub-nav li:hover > a,
#main-nav.bit-menu-float .sub-nav > li:hover > a span {
  border: inherit-self-auto;
  color: #ffffff;
}
.bit-menu-float .dt-mega-menu .sub-nav > li:hover > a,
.bit-menu-float .sub-nav > li:hover > a,
.bit-menu-float .dt-mega-menu .sub-nav .dt-mega-parent .sub-nav a:hover {
  color: #ffffff;
}
.bit-menu-float .dt-mega-menu .sub-nav > li > a,
.bit-menu-float .sub-nav > li > a,
.bit-menu-float .dt-mega-menu .sub-nav .dt-mega-parent .sub-nav a {
  color: #ffffff;
}
#main-nav.bit-menu-float .sub-nav li {
  background: rgba(255,255,255,0.5);
  border-bottom: 1px solid #ffffff;
}
.old-ie8 #main-nav.bit-menu-float .sub-nav li {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.old-ie #main-nav.bit-menu-float .sub-nav li {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#main-nav.bit-menu-float > li.has-children.level-arrows-on > a:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%229px%22%20height=%226px%22%20viewBox=%220%200%209%206%22%20enable-background=%22new%200%200%209%206%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23ffffff%22%20points=%228.205,1.669%204.515,5.516%200.824,1.703%201.846,0.669%204.515,3.344%207.189,0.669%20%22/%3E%3C/svg%3E");
}
#main-nav.bit-menu-float > li.has-children.level-arrows-on:hover > a:after,
#main-nav.bit-menu-float > li.has-children.act.level-arrows-on > a:after,
#main-nav.bit-menu-float > li.has-children.act.level-arrows-on:hover > a:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%229px%22%20height=%226px%22%20viewBox=%220%200%209%206%22%20enable-background=%22new%200%200%209%206%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23ffffff%22%20points=%228.205,1.669%204.515,5.516%200.824,1.703%201.846,0.669%204.515,3.344%207.189,0.669%20%22/%3E%3C/svg%3E");
}
#main-nav.bit-menu-float > li.has-children.level-arrows-on > a {
  position: relative;
}
#main-nav.bit-menu-float .sub-nav li.has-children.level-arrows-on:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23ffffff%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");
}
#main-nav.bit-menu-float .sub-nav li.has-children.level-arrows-on:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23ffffff%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");
}
#main-nav.bit-menu-float.underline-hover > li > a i.underline {
  background-color: #ffffff;
}
.bit-menu-float.mini-search .submit {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Cpath%20fill=%22#ffffff%22%20d=%22M15.491,14.071L10.887,9.53c0.727-0.989,1.223-2.206,1.223-3.524C12.109,2.693,9.395,0,6.055,0S0,2.693,0,6.006c0,3.312,2.716,6.008,6.055,6.008c1.266,0,2.567-0.516,3.539-1.178l4.562,4.556%09L15.491,14.071z%20M1.632,5.996c0-2.429,1.975-4.403,4.403-4.403c2.429,0,4.402,1.975,4.402,4.403c0,2.428-1.974,4.402-4.402,4.402C3.607,10.396,1.632,8.423,1.632,5.996z%22/%3E%3C/svg%3E");
}
.bit-menu-float.mini-search .submit:hover {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Cpath%20fill=%22#ffffff%22%20d=%22M15.491,14.071L10.887,9.53c0.727-0.989,1.223-2.206,1.223-3.524C12.109,2.693,9.395,0,6.055,0S0,2.693,0,6.006c0,3.312,2.716,6.008,6.055,6.008c1.266,0,2.567-0.516,3.539-1.178l4.562,4.556%09L15.491,14.071z%20M1.632,5.996c0-2.429,1.975-4.403,4.403-4.403c2.429,0,4.402,1.975,4.402,4.403c0,2.428-1.974,4.402-4.402,4.402C3.607,10.396,1.632,8.423,1.632,5.996z%22/%3E%3C/svg%3E");
}
.wide #header .wf-table,
.boxed #header .wf-table,
#navigation.wf-wrap {
  max-width: 1280px;
  margin: 0 auto;
}
.wide #footer .wf-wrap,
.boxed #footer .wf-wrap {
  max-width: 1024px;
  margin: 0 auto;
}
#top-bar .wf-wrap {
  max-width: 1024px;
  margin: 0 auto;
}
#main-nav > li > a {
  font: normal  normal 14px / 22px "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
#mobile-menu {
  font: normal  normal 14px / 14px "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
#main-nav .sub-nav > li > a {
  font: normal  normal 14px / 22px "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.dl-menuwrapper .dl-container a {
  font: normal  normal 14px / 14px "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
#main-nav > li {
  margin-left: 25px;
  margin-right: 25px;
}
#header .wf-table {
  height: 93px;
  min-height: 93px;
}
#header {
  background: #ffffff none repeat center top;
  border-bottom: 1px 0 #f78c7b;
}
#header.headerPM {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
#header.headerInnerPM > .wf-wrap {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px 0px 0px 0px;
}
#header.headerInnerPM .navigation-holder > div {
  margin-left: 0px;
  margin-right: 0px;
}
#top-bar {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
#footer {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
#bottom-bar {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.overlap #header {
  background-color: #ffffff;
  background-repeat: repeat;
  background-attachment: ;
  background-position: center top;
  background-size: ;
  border-bottom: none;
}
.old-ie .overlap #header {
  background: #ffffff none repeat center top;
}
@media screen and (max-width: 1024px) {
  .overlap #header {
    background-color: #ffffff;
  }
}
@media screen and (max-width: 800px) {
  .overlap #header {
    background-color: #ffffff;
  }
}
.old-ie9 .overlap #header {
  background-color: #ffffff;
}
.old-ie .overlap #header {
  background-color: #ffffff;
}
.transparent #header {
  background: rgba(0,34,51,0.3) none repeat center center;
}
.old-ie .transparent #header {
  background: #006fa8 none repeat center center;
}
@media screen and (max-width: 760px) {
  .transparent #header {
    background: #ffffff none repeat center top;
  }
  .old-ie .transparent #header {
    background: #8c8c8c none repeat center top;
  }
}
#phantom .ph-wrap {
  background: #CF5B7C;
}
.old-ie #phantom .ph-wrap {
  background: #CF5B7C;
}
.one-page-row #phantom .ph-wrap {
  background: #CF5B7C;
}
.old-ie #phantom .ph-wrap {
  background: #CF5B7C;
}
#mobile-menu {
  border: 1px solid #e04f67;
}
#mobile-menu:hover {
  border: 1px solid #e04f67;
}
#mobile-menu,
.mobile_footer_menu li {
  background: #e04f67;
}
#mobile-menu.dl-active,
#mobile-menu:hover,
.mobile_footer_menu li:hover {
  background: #e04f67;
}
#main-nav > li > a,
#mobile-menu,
.mobile_footer_menu li span {
  color: #fff;
}
#mobile-menu.dl-active,
#mobile-menu:hover,
#mobile-menu.dl-active  > li > a,
#mobile-menu:hover  > li > a,
.mobile_footer_menu li:hover span {
  color: #fff;
}
.dl-menuwrapper li {
  background: #e04f67;
  border-bottom: 1px solid #e04f67;
}
.mobilefloatmenu .dl-menuwrapper {
  background: #e04f67;
}
.dl-menuwrapper .dl-container > ul > li:hover {
  background: #e04f67;
}
.dl-menuwrapper .dl-container > ul > li:hover > a > span {
  color: #ffffff;
}
.dl-menuwrapper ul.dl-submenu  > li {
  background: #e04f67;
  border-bottom: 1px solid #e04f67;
}
.dl-menuwrapper  ul.dl-submenu > li > a > span {
  color: #ffffff;
}
.dl-menuwrapper ul.dl-submenu  > li:hover {
  background: #e04f67;
}
.dl-menuwrapper ul.dl-submenu > li:hover > a > span {
  color: #ffffff;
}
.dl-menuwrapper li a {
  color: #ffffff;
}
.dl-menuwrapper li.has-children > a:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23ffffff%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");
}
.dl-menuwrapper li.has-children:hover > a:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%226px%22%20height=%229px%22%20viewBox=%220%200%206%209%22%20enable-background=%22new%200%200%206%209%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23ffffff%22%20points=%221.557,0.766%205.24,4.534%201.712,8.256%200.557,7.219%203.295,4.474%200.557,1.797%20%22/%3E%3C/svg%3E");
}
#main-slideshow:not(.rv-slider) {
  min-height: 93px;
}
#fancy-header .wf-wrap {
  padding-top: 0;
}
.overlap #fancy-header .wf-wrap {
  padding-top: 70px;
  padding-bottom: 70px;
}
#main-slideshow.fixed {
  min-height: 13px;
}
#header .sub-nav {
  width: 100px;
}
#header .sub-nav .sub-nav {
  left: 100px;
}
#header .sub-nav .sub-nav.right-overflow {
  left: -100px;
}
#phantom .bit-menu-float .sub-nav {
  width: 168px;
}
#phantom .bit-menu-float .sub-nav .sub-nav {
  left: 168px;
}
#phantom .bit-menu-float .sub-nav .sub-nav.right-overflow {
  left: -168px;
}
.bit-html .scroll-top:before {
  border-radius: 20px;
  background-color: #999999;
  background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2212px%22%20height=%228px%22%20viewBox=%220%200%2012%208%22%20enable-background=%22new%200%200%2012%208%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23ffffff%22%20points=%225.999,3.376%201.6,8%200,6.303%205.999,0%2012,6.303%2010.4,8%20%22/%3E%3C/svg%3E");
}
